.container {
    margin: 0;
    padding: 0;
    background-image: url('https://preview.redd.it/qwd83nc4xxf41.jpg?width=640&crop=smart&auto=webp&s=e82767fdf47158e80604f407ce4938e44afc6c25');
    width: 100vw;
    height: 100vh;
    background-size: cover;
    overflow-y: scroll;
    box-sizing: content-box;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}