body {
    box-sizing: border-box;
    background-image: url('https://preview.redd.it/qwd83nc4xxf41.jpg?width=640&crop=smart&auto=webp&s=e82767fdf47158e80604f407ce4938e44afc6c25');
}

#mast {
    font-family: 'Courgette', cursive;
    margin: 0;
    padding: 0;
    background-image: url('https://preview.redd.it/qwd83nc4xxf41.jpg?width=640&crop=smart&auto=webp&s=e82767fdf47158e80604f407ce4938e44afc6c25');
    width: 100vw;
    height: 100vh;
    background-size: cover;
    overflow-y: scroll;
    background-attachment: fixed;
}

#mast::before {
    content: "";
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

section.container-fluid .section-content {
    max-width: 500px;
    text-align: center;
    opacity: 5;
}

section.container-fluid .section-content h3 {
    font-size: 30px;
    color: rgb(32, 32, 32);
    padding-top: 30px;
}

section.container-fluid .device-container {
    margin-right: 0;
    margin-left: 0;
    padding: 0;
}

section.container-fluid .device-container .screen img {
    border-radius: 3px;
    width: 390px;
}

@media (min-width: 992px) {
    section.container-fluid .section-content {
        margin-bottom: 0;
        text-align: left;
    }
    section.container-fluid .section-content h1 {
        font-size: 50px;
    }
}